@-moz-document url-prefix() { 
  /* @mixin respond-to
------------------------------------------------------------------- */
/* line 23, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */

@font-face { 
    font-family: 'compassmedium';     
    src: url('./assets/font/compass-webfont.woff2') format('woff2'),         
           url('./assets/font/compass-webfont.woff') format('woff');   
    font-weight: normal;  
    font-style: normal;
}


body {
font-size: 0.75em;
background-color: white;
font-family: 'AvenirNext LT Pro Regular', 'compassmedium' ;
color: #eceff1;
line-height: 1.5; }

img{
  padding-top: 283px;
  padding-left: 38px;
  width: 20px;
  height: 83px;
}

@media screen and (min-width: 500px) {
/* line 32, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
body {
  font-size: 1em; } }
/* line 38, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
a {
color: #4472B9;
text-decoration: none;
transition: color 0.15s ease-in; }
/* line 42, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
a:hover {
  color: #3D67A6; }
/* line 45, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
a:hover, a:focus {
  color: #222; }
/* line 49, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */

/* line 54, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
code {
font-weight: bold; }

/* line 62, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-type-display-1 {
font-size: 2em;
font-weight: 300;
margin: 16px 0; }

@media screen and (min-width: 768px) {
/* line 69, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-type-display-1 {
  font-size: 4em; } }
/* line 74, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-type-sub-heading-1 {
font-size: 1.13em;
font-weight: 400;
margin: 16px 0; }

/* line 80, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-type-heading-1 {
font-size: 1.5em;
font-weight: 400;
position: absolute;
right: 102px;
bottom: -154px;
}

.m-type-heading-2 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 16px 0;
    display: flex;
    justify-content: center; }

.close{
  font-size: 125px;
  color: #002D4A;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* line 106, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-header {
position: relative;
padding: 4.25em 4.25em 2em;
max-width: 40em; }
/* line 111, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-header .header_actions {
  margin: 1.25em 0 0; }
/* line 115, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-header .header_link {
  margin-right: 1.25em;
  margin-top: 4px; }
/* line 120, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-header .header_intro {
  color: #737373; }

@media screen and (min-width: 1024px) {
/* line 126, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-header {
  padding: 31.5em 8.5em 4.25em; } }

/* line 143, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.txt {
  color: #0f2738;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 40px;
  transition: background-color 0.15s ease-in; }
 
  #is{
    font-weight: 1000;
    color: rgb(0, 232, 193);
  }

/* line 158, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-page {
background-color: #eceff1;
color: #263238; }

/* line 163, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-page--alt {
background-color: #fff;
color: #002D4A; }

/* line 174, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-segment {
padding: 1em 4.25em; 
background-color: white;
border: none;}
/* line 178, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-segment .segment_content {
  margin: 16px 0;
  max-width: 40em;
  position:flex; 
  flex-direction: row-reverse}
/* line 183, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-segment .segment_description {
  margin: 16px 0; }

@media screen and (min-width: 1024px) {
/* line 189, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-segment {
  padding: 0.25em 16.5em; } }
/* line 201, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-detail-layout .m-aside .aside_title {
margin: 0;
font-weight: normal; }

@media screen and (min-width: 768px) {
/* line 209, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-detail-layout {
  padding-left: 110px; }
  /* line 211, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
  .m-detail-layout .m-aside {
    position: absolute;
    left: 0;
    width: 110px; }
    /* line 215, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
    .m-detail-layout .m-aside .aside_title {
      position: fixed; }

/* line 231, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-right-panel .m-header,
.m-right-panel .m-segment .segment_content {
max-width: 43em; }
/* line 236, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-right-panel .right-panel_top {
border-bottom: 1px solid #cfd8dc; }

/* line 245, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-breadcrumb .breadcrumb_link {
position: relative;
top: -2px;
font-size: 0.75em; }
/* line 250, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-breadcrumb .m-type-display-1 {
margin-top: 0; }

/* line 258, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
.m-highlight {
background-color: #002D4A;
color: #eceff1; }
/* line 261, /Users/miguelperez/Sites/csstricks/source/stylesheets/layout.css.scss */
}

#lo {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
position: absolute;
top: 145px;
left: 50%;
color: #466C84;
cursor: default;
font-weight: normal;
} 

#e{
display: flex;
justify-content: center;
}

#p{
display: flex;
justify-content: center;
} 

.my{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 321px;
font-weight: 550;
position: absolute;
bottom: 22px;
z-index: 0;
color: rgba(70, 108, 132, 0.3);
top: 97px;
right: -21px;
margin: 23px;
cursor: default;
}

.mi{
font-weight: 1000;
color: rgba(0, 232, 193, 0.3);
}

.my2{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 91px;
font-weight: 500;
position: absolute;
z-index: 1;
bottom: 288px;
color: #466C84;
left: 172px;
cursor: default;
}

.mi2{
font-weight: 1000;
color: rgb(0, 232, 193);
}

p{
display: flex;
justify-content: center;
margin-top: 283px;
padding-left: 200px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
  }